body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    height: 75vh;
    background-color: color-mix(in srgb, black 50%, blue 50%);
}

.console {
    background-color: aliceblue;
    min-height: 500px;
    padding: 10px;
    max-width: 30vw;
    min-width: 400px;
    border: solid black 3px;
    border-radius: 24px;
    box-shadow: 2px 2px 0 #000,
              3px 3px 0 #000,
              4px 4px 0 #000,
              5px 5px 0 #000;
    box-sizing: content-box;

    display: inline-block;
    justify-content: center;
    align-items: center;
}

.display {
    height: 350px;
    border: solid black 10px;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./src/img/background/background-grass.jpg');
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 16px;
    color: whitesmoke;
    border: solid black 5px;
    border-radius: 20px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./src/img/background/background-stats.jpg');
}

.texts {
    display: block;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    justify-self: center;
    color: aliceblue;
}

.tamagotchi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.cinammonroll {
    width: 250px;
    filter: drop-shadow(0 0 10px rgba(244, 254, 255, 0.6));
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.stats {
    margin-top: 20px;
    height: 60px;
}

.buttons {
    min-width: 100%;
    height: 100px;
    border-radius: 20px;
    margin-top: 35px;
    padding: 5px;
    margin-top: 20px;
}

button {
    color: #fff;
    background-color: #38667f;
    padding: 15px 40px 15px 40px;
    margin: 5px;
    font-size: 12px;
    font-family: "Press Start 2P", system-ui;
    border: 0;
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
    cursor: pointer;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, inset 0px 5px #00000038;
}

.reset-btn {
    background-color: #d32f2f;
    font-size: 10px;
    padding: 10px 20px;
}

.reset-btn:hover {
    background-color: #b71c1c;
}

.alberto_vgs{
    margin-top: 15px;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
    color: slategray;
}